.niels-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 30px 40px;
}

.niels-slogan{
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	position: absolute;
	text-decoration: none;
	right: 60px;
	top: 50%;
	color: #D97757;
	padding: 7px;
	transform: translateY(-50%);
}

.niels-slogan::after{
	content: "";
	border-radius: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
}

.niels-slogan:hover{
	color:  white;
}

.niels-slogan:hover::after{
	position: absolute;
	background-color:#D97757;
	border-radius: 10px;
	z-index: -1;
}

.niels-menu{
	font-weight: bold;
	position: absolute;
	font-size: 18px;
	top:50%;
	margin-left:60px;
	transform: translateY(-50%);
}

.niels-menu a{
	color:#D97757;
	border-bottom: 2px solid #D97757;
	border-top: 2px solid transparent; /* Bordures invisibles par défaut */
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-left:30px;
	padding: 7px;
	transition: border-color 0.3s ease;
}

.niels-menu a:hover{
	background-color:white;
	border-radius: 10px;
	border: 2px solid #D97757;
}